body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}



h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Seymour One', sans-serif;
}

h2 {
    font-size: 30px;
}

.top-section {
    background-image: linear-gradient(to right, rgb(255, 221, 254), rgb(115, 83, 137));
    display: flex;
    padding-left: 7%;
    margin-bottom: 0%;
}

.top-section p {
    color: black;
    font-weight: 200;
    padding-bottom: 5%;
}

.purple-color {
    color: rgb(83, 70, 163);
}

.top-item {
    width: 50%;
    margin-right: 5%;
    padding-bottom: 10%;
    margin-bottom: 2%;

}

.top-item img {
    width: 80%;
    margin-top: 0%;
    margin-left: 10%;

}

.link-button {
    background-image: linear-gradient(to right, rgb(248, 154, 245), rgb(71, 61, 135));
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.skill-area {
    background-image: url(images/skill-bg.jpeg);
    background-size: cover;
    background-position: left top;
    margin-top: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
}



#skill-set a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 3%;
}

#recent-projects li {
    font-size: 30px;
    padding-bottom: 5%;
}

#recent-projects {

    width: 80%;
    text-align: center;
    margin-left: 10%;
}

#recent-projects img {
    width: 80%;
    box-shadow: 10px 10px 40px gray;

}

.experience {
    padding-left: 7%;
    margin-top: 5%;
}

.info-area {
    margin-left: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.sign-up {
    display: flex;

}

.half-width {
    width: 30%;
    margin-left: 7%;
    margin-right: 7%;

    padding-left: 5%;
    font-size: 20px;
    border: 5px solid;
    border-image: linear-gradient(rgb(159, 75, 159), rgb(211, 56, 118));
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
}

.half-width legend {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;

}

.half-width button {
    padding: 7px 20px;
    font-size: 17px;
}